/*
font-family: 'Genos', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Solitreo', cursive;
font-family: 'Tilt Prism', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Noto Music', sans-serif;
*/


h1 {
  /* font-family: 'Tilt Prism', cursive; */
  font-family: 'Noto Music', cursive;
  font-size: 55px;
  margin-bottom: 30px;
}

.notefinder {
  font-family: 'Noto Music', cursive;
  font-size: 100px;
}

button {
  border-radius: 5px;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 15px;
  height: 33px;
  margin-top: 10px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-display {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 25px;
  margin-bottom: 10px;
}

.wide-btn, .buttonwrap {
  width: 25%;
}

.buttonwrap {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.autorun {
  flex-grow: 5;
}

.minus, .plus {
  flex-grow: 1;
}

.minus-plus-active {
  box-shadow: 0px 0px 5px;
}

.enharmonics-active {
  background-color: lightgreen;
  box-shadow: 3px 3px 5px;
}

.autorun-active {
  background-color: #F08080;
  box-shadow: 3px 3px 5px;
}

@media only screen and (max-width: 800px) {
  .buttonwrap, .wide-btn {
    width: 50%;
  }
}
