/*
font-family: 'Genos', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Solitreo', cursive;
font-family: 'Tilt Prism', cursive;
font-family: 'Ubuntu', sans-serif;
*/

h1 {
  font-family: 'Tilt Prism', cursive;
  font-size: 55px;
  margin-bottom: 30px;
}

button {
  border-radius: 5px;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 15px;
  height: 33px;
  margin-top: 10px;
  width: 25%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}

.main-display {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 25px;
  margin-bottom: 10px;
}

.buttonwrap {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.toggleNotes {
  width: 66%;
}

.autorun {
  width: 31%;
}

.enharmonics_active {
  background-color: lightgreen;
  box-shadow: 3px 3px 5px;
}

.autorun_active {
  background-color: #F08080;
  box-shadow: 3px 3px 5px;
}

@media only screen and (max-width: 1000px) {
  button, .buttonwrap {
    width: 50%;
  }
}
